/* variables */
:root {
    --primary-dark-color: #212121;
    --primary-dark-color-opacity20: #21212133;
    --secondary-dark-color: #757575;
    --secondary-dark-color-opacity50: #75757580;
    --design-color: #2196f3;
    --design-color-opacity90: #2196f3e6;
    --white-color: #ffffff;
    --white-color-opacity10: #ffffff1a;
    --white-color-opacity30: #ffffff4d;
    --white-color-opacity60: #ffffff99;
    --black-color: #000000;
    --black-color-opacity20: #0003;
    --black-color-opacity10: #0000001a;
    --dark-bgc: #2f303a;
    --dark-bgc-opacity80: #2f303acc;
    --light-bgc: #f5f4fa;
    --active-button: #188ce8;
    --logo-second-part-color: #000000;
    --primary-icons-color: #afb1b8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --border-item: #eeeeee;
  }