/* portfolio section */
.portfolio-section{
   &__list-btn {
      display: flex;
      justify-content: center;
      gap: 8px;
      margin-bottom: 34px;
    }
    &__list-item {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
}
  
  